<footer class="footer">
    <div class="wrapper">
        <address class="footer__top-line">
            <div class="footer__block footer__block1">
                <a href="#" class="logo">
                    <picture>
                        <source media="(max-width: 440px)" srcset="img/images/logo-footer-320.webp 1x, img/images/logo-footer-320-2x.webp 2x" type="image/webp">
                        <source media="(max-width: 700px)" srcset="img/images/logo-footer-480.webp 1x, img/images/logo-footer-480-2x.webp 2x" type="image/webp">
                        <source media="(max-width: 1000px)" srcset="img/images/logo-footer-1000.webp 1x, img/images/logo-footer-1000-2x.webp 2x" type="image/webp">
                        <source media="(max-width: 440px)" srcset="img/images/logo-footer-320.png 1x, img/images/logo-footer-320-2x.png 2x">
                        <source media="(max-width: 480px)" srcset="img/images/logo-footer-480.png 1x, img/images/logo-footer-480-2x.png 2x">
                        <source media="(max-width: 1000px)" srcset="img/images/logo-footer-1000.png 1x, img/images/logo-footer-1000-2x.png 2x">
                        <source srcset="img/images/logo-hd.webp 1x, img/images/logo-hd-2x.webp 2x" type="image/webp">
                        <img src="img/images/logo-hd.png" srcset="img/images/logo-hd-2x.png 2x" alt="Логотип компании" class="logo__img">
                    </picture>
                    <p class="logo__title logo__title--footer">Продажа полимерных отходов</p>
                </a>
                <div class="footer__socnetwork-box">
                    <a href="#" class="footer__socnework-item footer__socnework-item--ok" aria-label="Ссылка на профиль в соцсети Одноклассники">
                        <svg>
                            <use xlink:href="img/svg/sprite.svg#ok"></use>
                        </svg>
                    </a>
                    <a href="#" class="footer__socnework-item footer__socnework-item--vk" aria-label="Ссылка на профиль в соцсети ВКонтакте">
                        <svg>
                            <use xlink:href="img/svg/sprite.svg#vk"></use>
                        </svg>
                    </a>
                    <a href="#" class="footer__socnework-item footer__socnework-item--fb" aria-label="Ссылка на профиль в соцсети Фэйсбук">
                        <svg>
                            <use xlink:href="img/svg/sprite.svg#fb"></use>
                        </svg>
                    </a>
                    <a href="#" class="footer__socnework-item footer__socnework-item--in" aria-label="Ссылка на профиль в соцсети Инстаграм">
                        <svg>
                            <use xlink:href="img/svg/sprite.svg#in"></use>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="footer__block footer__block2">
                <p class="adress footer__adress">МО г.Подольск, Домодедовское шоссе 00</p>
                <div>
                    <div>
                        <a href="mailto:info@kupi-xxxxxxx.ru" class="email footer__email">info@kupi-xxxxxxx.ru</a>
                        <a href="tel:+7495542XXXX" class="tel footer__tel">+7 495 542-XX-XX</a>
                    </div>
                    <button class="btn-base btn-base--call footer__btn-base--call">
                        <span class="btn-base__content">
                            <img src="img/images/smartphone.png" alt="" aria-hidden="true">
                            Обратный звонок
                        </span>
                    </button>
                </div>
            </div>
            <div class="footer__block footer__block3">
                <p>Хотите быть в курсе Акций и новых предложений? Напишите «да» в вотсап или вайбер!
                    <small>Не забудьте добавить этот номер в контакты</small>
                </p>
                <div>
                    <a href="tel:+7968800XXXX" class="tel footer__tel">+7 968 800 XX XX</a>
                    <div class="social-box footer__social-box">
                        <a href="whatsapp://send?phone=+7968800XXXX" class="icon-watsapp">
                            <img src="img/images/watsapp.png" alt="Иконка звонка ватсап">
                        </a>
                        <a href="viber://chat?number=+7968800XXXX" class="icon-viber">
                            <img src="img/images/viber.png" alt="Иконка звонка вайбер">
                        </a>
                        <a href="viber://add?number=+796880044XX" class="icon-viber icon-viber--mob">
                            <img src="img/images/viber.png" alt="Иконка звонка вайбер">
                        </a>
                    </div>
                </div>
                <div>
                    <a href="tel:8800700XXXX" class="tel footer__tel">8 800 700-XX-XX</a>
                    <p class="footer__mode">работаем с 9 до 18</p>
                </div>
            </div>
        </address>
    </div>
    <div class="footer__copy">
        <div class="wrapper">
            <p>&copy; 2001-2019 Пользовательское соглашение</p>
        </div>
    </div>
</footer>

<div id="modal" class="modal hide" role="dialog" aria-label="Форма отправки заявки">

    <div class="modal__content"> 
        <button type="button" class="btn-close modal__btn-close" tabindex="0" aria-label="Закрыть окно"><span></span></button>
        <form id="form--modal" class="form form--modal" aria-labelledby="form__title--modal">            
            <h3 id="form__title--modal" class="form__title form__title--modal">Оставить заявку</h3>
            <!-- Hidden Required Fields -->
            <input type="hidden" name="project_name" value="http://f0315577.xsph.ru/othodov">
            <input type="hidden" name="admin_email" value="43reiter@gmail.com">
            <!-- <input type="hidden" name="email_from" value="info@f0315577.xsph.ru"> -->
            <input type="hidden" name="form_subject" value="Сайт Полимерные отходы. Заказ обратного звонка с формы в модальном окне">
            <!-- END Hidden Required Fields -->
            <div>
                <label for="form__tel--modal" class="visually-hidden">Телефон(обязательное поле)</label>
                <input id="form__tel--modal" type="tel" class="form__elem form__elem--modal form__elem-tel" name="Телефон" placeholder="Телефон" tabindex="0" required>
                <label for="form__email--modal" class="visually-hidden">Электронная почта(обязательное поле)</label>
                <input id="form__email--modal" type="email" class="form__elem form__elem--modal" name="Электронная почта" placeholder="Электронная почта" tabindex="0" required>
                <label for="form__email--comments" class="visually-hidden">Комментарий(необязательное поле)</label>
                <textarea id="form__email--comments" class="form__elem form__elem--modal form__elem--comments" name="Комментарий" placeholder="Комментарий к заказу" tabindex="0"></textarea>
                <button class="btn-base btn-base--form modal__btn-submit" tabindex="0">
                    <span class="btn-base__content">
                        <img src="img/images/smartphone.png" alt="" aria-hidden="true">
                        <span>Отправить заявку</span>
                    </span>
                </button>
            </div>
        </form>
    </div>
</div>

<script src="@jQ"></script>
<script src="js/scripts.js"></script>


</body>

</html>