<div class="container-controls  slider__container-controls">
    <button id="slider__arrow-left" class="btn-control" aria-label="Стрелка перелистывания слайдера назад" aria-controls="slider">
        <svg>
            <use xlink:href="img/svg/sprite.svg#left"></use>
        </svg>
    </button>
    <button id="slider__arrow-rigth" class="btn-control" aria-label="Стрелка перелистывания слайдера вперед" aria-controls="slider">
        <svg>
            <use xlink:href="img/svg/sprite.svg#next"></use>
        </svg>
    </button>
</div>
<div class="wrapper">
    <div id="slider" class="slider__container owl-carousel">
        <figure class="slider__item">
            <div>
                <picture>
                    <source data-srcset="img/images/slide-1.webp 1x, img/images/slide-1-2x.webp 2x" srcset="data:image/gif;base64,R0lGODlhEwALAIAAAP///wAAACH5BAEAAAEALAAAAAATAAsAAAIMjI+py+0Po5y02nsLADs=" type="image/webp">
                    <img data-src="img/images/slide-1.png" data-srcset="img/images/slide-1-2x.png 2x" src="data:image/gif;base64,R0lGODlhEwALAIAAAP///wAAACH5BAEAAAEALAAAAAATAAsAAAIMjI+py+0Po5y02nsLADs=" alt="Груда ПНД тары (канистры, бутылки и др.)" class="slider__img lazyload">
                </picture>
                <a href="#" class="slider__accia">Акция</a>
            </div>
            <figcaption class="slider__desc">
                <a href="#">
                    <h4 class="slider__title">В продажу поступила ПНД тара </h4>
                </a>
                <small class="slider__subtitle">ПНД канистры различных цветов будут отсортированы и спресованы... </small>
            </figcaption>
        </figure>
        <figure class="slider__item">
            <div>
                <picture>
                    <source data-srcset="img/images/slide-2.webp 1x, img/images/slide-2-2x.webp 2x" srcset="data:image/gif;base64,R0lGODlhEwALAIAAAP///wAAACH5BAEAAAEALAAAAAATAAsAAAIMjI+py+0Po5y02nsLADs=" type="image/webp">
                    <img data-src="img/images/slide-2.png" data-rcset="img/images/slide-2-2x.png 2x" src="data:image/gif;base64,R0lGODlhEwALAIAAAP///wAAACH5BAEAAAEALAAAAAATAAsAAAIMjI+py+0Po5y02nsLADs=" alt="Различные литники из ПВХ" class="slider__img lazyload">
                </picture>
                <a href="#" class="slider__accia">Акция</a>
            </div>
            <figcaption class="slider__desc">
                <a href="#">
                    <h4 class="slider__title">Акция на литники ПВХ</h4>
                </a>
                <small class="slider__subtitle">На этот товар действует скидка 10% при покупке...</small>
            </figcaption>
        </figure>
        <figure class="slider__item">
            <div>
                <picture>
                    <source data-srcset="img/images/slide-3.webp 1x, img/images/slide-3-2x.webp 2x" srcset="data:image/gif;base64,R0lGODlhEwALAIAAAP///wAAACH5BAEAAAEALAAAAAATAAsAAAIMjI+py+0Po5y02nsLADs=" type="image/webp">
                    <img data-src="img/images/slide-3.png" data-srcset="img/images/slide-3-2x.png 2x" src="data:image/gif;base64,R0lGODlhEwALAIAAAP///wAAACH5BAEAAAEALAAAAAATAAsAAAIMjI+py+0Po5y02nsLADs=" alt="Отходы ПНД (отходы упаковки, пакеты)" class="slider__img lazyload">
                </picture>
                <a href="#" class="slider__accia">Акция</a>
            </div>
            <figcaption class="slider__desc">
                <a href="#">
                    <h4 class="slider__title">На вторсырье ПНД снижена цена</h4>
                </a>
                <small class="slider__subtitle">На отходы ПНД снижена цена на 2% при покупке...</small>
            </figcaption>
        </figure>
        <figure class="slider__item">
            <div>
                <picture>
                    <source data-srcset="img/images/slide-1.webp 1x, img/images/slide-1-2x.webp 2x" srcset="data:image/gif;base64,R0lGODlhEwALAIAAAP///wAAACH5BAEAAAEALAAAAAATAAsAAAIMjI+py+0Po5y02nsLADs=" type="image/webp">
                    <img data-src="img/images/slide-1.png" data-srcset="img/images/slide-1-2x.png 2x" src="data:image/gif;base64,R0lGODlhEwALAIAAAP///wAAACH5BAEAAAEALAAAAAATAAsAAAIMjI+py+0Po5y02nsLADs=" alt="Груда ПНД тары (канистры, бутылки и др.)" class="slider__img lazyload">
                </picture>
                <a href="#" class="slider__accia">Акция</a>
            </div>
            <figcaption class="slider__desc">
                <a href="#">
                    <h4 class="slider__title">В продажу поступила ПНД тара </h4>
                </a>
                <small class="slider__subtitle">ПНД канистры различных цветов будут отсортированы и спресованы... </small>
            </figcaption>
        </figure>
    </div>
</div>