/*=============================================
        СТРАНИЦА ARTICLE
=============================================*/
.main-article {
    background: url(../img/images/bg-catalog.svg) no-repeat;
    background-size: cover;
}

.article {
    padding: 1.5*$gat 0 3*$gat;

    @include xxs-block {
        padding-bottom: 48px;
    }

    &__title-section {
        max-width: 100%;

    }

    &__content {
        margin-top: 1.75*$gat;
        padding: 1.5*$gat 5.5*$gat 2*$gat;
        background: $c-base;
        box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);
        border-radius: 10px;

        @include md-block {
            padding: $gat;
        }

        p {
            font-size: 15px;
            margin-bottom: 1.5*$gat;
        }

        h3 {
            margin: 27px 0;

            @include sm-block {
                font-size: 24px;
                margin: 20px 0;
            }

            @media screen and (max-width: 440px) {
                font-size: 18px;
                margin: 15px 0;
            }
        }
    }

    &__list {
        margin-left: 14px;
    }

    &__item {
        margin-bottom: 1.5*$gat;
        padding-left: 15px;
        font-size: 15px;
        color: $c-normal;

        span {
            color: $c-accent;
        }
    }

    &__images {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1.5*$gat;

        @include xs-block {
            flex-direction: column;
        }

        div {
            width: 49%;

            @include xs-block {
                width: 100%;
                margin-bottom: $gat;
            }
        }

        img {
            @include img;
            border-radius: 4px;
        }
    }

    &__socnetwork-box {
        margin-top: 3*$gat;
    }

    &__other {
        h2 {
            margin: 2*$gat 0 1.5*$gat;
            text-align: center;
        }

        &>div {
            @include row-flex();
        }
    }
}