/*=============================================
        МОДАЛЬНОЕ ОКНО
=============================================*/
.modal {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    padding-top: 40px;
    overflow-y: scroll;
    background: rgba(17, 17, 17, 0.8);

    &__content {
        position: relative;
        animation-name: animatetop;
        animation-duration: 1s;

        div {
            flex-wrap: wrap;
            width: 100%;
            max-width: 350px;
            margin: 0;

            @media screen and (max-width: 700px) {
                flex-direction: row;
            }

            @include xs-block {
                max-width: 275px;
            }
            @include xxs-block {
                margin-bottom: 0;
            }
        }
    }

    &__btn-close {
        position: absolute;
        top: 35px;
        right: 25px;
    }

    &__btn-submit {
        width: 100%;
        padding: 10px 23%;

        @include lg-block {
            padding: 10px 23%;
        }

        @include sm-block {
            padding: 10px 23%;
        }

        @media screen and (max-width: 700px) {
            padding: 10px 23%;
        }

        @include xs-block {
            padding: 10px 15%;
        }
    }
}

@keyframes animatetop {
    from {
        opacity: 0;
        transform: scale(0);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.form {

    &__title--modal {
        margin-bottom: 27px;
        text-align: left;
        font-size: 32px;
        line-height: 38px;

        @include xs-block {
            margin-bottom: 20px;
        }
    }

    &--modal {
        padding: 37px 65px 52px;

        @include xs-block {
            padding-top: 30px;
            padding-bottom: 30px;
        }
        @include xxs-block {
            padding-top: 30px;
            padding-bottom: 30px;
        }
    }

    &__elem--comments {
        height: 200px;
    }
}