@import 'fonts.scss';
@import './src/libs/normalize.scss';
@import 'mixsins.scss';
@import '../libs/smart-grid.scss';



/*=============================================
      ОБЩИЕ ПРАВИЛА
=============================================*/

$ff-base: Rubik, Arial, sans-serif;

$c-accent: #111111;
$c-base: #ffffff;
$c-normal: #b7000e;

$gat: 20px;

.clearfix:after {
    @include clearfix;
}

.wrapper {
    @include wrapper;
}

html {
    font-size: 100%;
}

body {
    width: 100%;
    font-family: $ff-base;
    font-size: 20px;
    line-height: 1.375;
    font-weight: 400;
    color: $c-accent;
}

p,
ul,
ol,
li,
figure,
figcaption {
    margin: 0;
    padding: 0;
}

address {
    font-style: normal;
}


/*Заголовки 
---------------------------------------------*/

.title-section {
    margin: 0 auto;
    text-align: center;
    font-family: Roboto, Arial, sans-serif;
    font-size: 42px;
    line-height: 49px;
    font-weight: 500;
    font-style: normal;
    color: $c-accent;

    @include sm-block {
        font-size: 36px;
        line-height: 42px;
    }

    @include xs-block {
        font-size: 32px;
        line-height: 37px;
    }

    @include xxs-block {
        font-size: 28px;
        line-height: 33px;
    }

    &--menegers {
        @include sm-block {
            max-width: 336px;
        }

        @include xxs-block {
            max-width: 240px;
        }
    }

    &--dipploms {
        color: $c-base;
    }

    &--h3 {
        margin: 0;
        text-align: left;
        font-family: $ff-base;
        font-size: 32px;
        line-height: 38px;

        @include xs-block {
            font-size: 28px;
            line-height: 33px;
        }
    }
}

/*--------------------------------------------*/


/*Кнопки
---------------------------------------------*/
.btn-base {
    border: none;
    background: $c-normal;
    font-family: $ff-base;
    font-weight: 500;
    color: $c-base;
    transition: background-color ease 0.5s;
    cursor: pointer;

    &:hover {
        background-color: lighten($c-normal, 10%);
    }

    &:active {
        background: darken($c-normal, 10%);
    }

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &--call {
        padding: 0 22px 0 7px;
        border-radius: 4px;
        font-size: 15px;
        line-height: 18px;

        @media screen and (max-width: 890px) {
            padding: 11px 20px 13px 20px;
            font-size: 13px;
            line-height: 15px;
        }

        @media screen and (max-width: 700px) {
            padding: 0 22px 0 7px;
        }

        img {
            @media screen and (max-width: 890px) {
                display: none;
            }

            @media screen and (max-width: 700px) {
                display: flex;
            }

            @include xxs-block {
                margin-right: -3px;
            }
        }
    }

    &--cat {
        margin: 0 auto;
        padding: 20px 28px;
        border-radius: 6px;
        font-size: 17px;
        line-height: 20px;

        img {
            margin-right: 0.5*$gat;
        }
    }

    &--form {
        padding: 10px 7%;
        white-space: nowrap;
        border-radius: 4px;
        font-size: 17px;
        line-height: 20px;

        @include lg-block {
            padding: 10px 5%;
        }

        @include sm-block {
            padding: 10px 2% 10px 1%;
        }

        @media screen and (max-width: 700px) {
            padding: 10px 7%;
        }

        @include xs-block {
            width: 100%;
            padding: 10px 30% 10px 20%;
        }

        @media screen and (max-width: 440px) {
            padding: 10px 20% 10px 10%;
        }

        @include xxs-block {
            padding: 12px 20% 10px 15%;
        }
    }

    &--shipments {
        display: inline-block;
        padding: 17px 20px 20px 29px;
        border: 2px solid $c-normal;
        border-radius: 10px;
        background: $c-base;
        font-family: Roboto, Arial, sans-serif;
        font-size: 20px;
        line-height: 23px;
        font-weight: 400;
        color: $c-accent;

        &:hover {
            color: $c-base;
        }

        svg {
            margin-left: 12px;
            stroke: $c-normal;
            stroke-width: 2px;
            @include svg(20px, 20px, $c-base);
        }
    }
}

.btn-control {
    display: inline-block;
    border: none;
    background: transparent;
    cursor: pointer;

    svg {
        @include svg(40px, 40px, $c-normal);

        &:hover {
            fill: lighten($c-normal, 10%);
        }
    }

    &--white {
        svg {
            fill: $c-base;
        }
    }
}

/*--------------------------------------------*/


/*Хлебные крошки 
---------------------------------------------*/
.breadcrumbs {
    margin: 0 auto;
    padding: 21px 0;

    &__list {
        display: flex;
        justify-content: center;
        align-items: center;
        list-style-type: none;
    }

    &__item {
        font-size: 15px;
        line-height: 18px;
    }

    &__item+&__item {
        position: relative;
        margin-left: 60px;

        @media screen and (max-width: 440px) {
            margin-left: 40px;
        }

        &::before {
            content: '';
            position: absolute;
            left: -30px;
            display: inline-block;
            width: 1px;
            height: 100%;
            background-color: lighten($c-accent, 60%);
            transform: rotate(20deg);

            @media screen and (max-width: 440px) {
                left: -20px;
            }
        }
    }

    &__link {
        display: inline-block;
        color: $c-accent;
    }

    &__link.disabled {
        @include disa;
        color: $c-accent;
    }

    &__link.active {
        color: $c-normal;
    }
}

/*--------------------------------------------*/

.hide {
    display: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
}

.visual {
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition: opacity 0.1s ease-in;
}

/*=============================================*/


/*=============================================
        ШАПКА
=============================================*/
.top-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: calc(100% - 38px);
    padding: 30px 0 28px 0;

    @include md-block {
        max-width: calc(100% - 19px);
        padding: $gat 0 28px 0;
    }

    @include sm-block {
        max-width: calc(100% - 10px);
    }

    @include xs-block {
        padding-bottom: 23px;
    }

    @include xxs-block {
        max-width: calc(100% - 2px);
        padding: 12px 0 15px 0;
    }

    &__block {
        font-size: 17px;
        line-height: 25px;
        color: lighten($c-accent, 60%);

        @include md-block {
            font-size: 15px;
        }
    }

    &__block1,
    &__block4 {
        &>div {
            display: flex;
        }
    }

    &__block4 {
        display: none;
    }
}

.tel {
    display: block;
    font-size: 20px;
    color: $c-accent;

    @include md-block {
        font-size: 17px;
    }

    @include xs-block {
        font-size: 15px;
        line-height: 24px;
    }
}

.email {
    font-size: 17px;
    color: $c-normal;

    @include md-block {
        font-size: 15px;
    }
}

.adress {
    font-style: normal;
}

.social-box {
    margin-left: 12px;
}

.icon-viber {
    @include md-block {
        display: none;
    }
}

.icon-viber.icon-viber--mob {
    display: none;

    @include md-block {
        display: inline-block;
    }
}

.logo {
    display: block;

    &__title {
        text-align: center;
        font-size: 15px;
        line-height: 18px;
        color: $c-accent;

        @include md-block {
            font-size: 13px;
        }

        @include xxs-block {
            font-size: 9px;
            line-height: 5px;
        }
    }
}

.nav-line {
    position: relative;
    padding: 0.5*$gat 0;
    background: $c-accent;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.burger {
    @include burger (20px, 15px, 20px, 2px, 6px, $c-base, transparent);
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__burger {
        z-index: 1;
        display: flex;
        justify-content: space-between;
        align-items: center;

        p {
            display: none;
            font-size: 15px;
            line-height: 18px;
            font-weight: 700;
            color: $c-base;
        }
    }

    &__list {
        display: flex;
        align-items: center;
        list-style-type: none;
    }

    &__item {
        margin-left: 65px;

        @include lg-block {
            margin-left: 5vw;
        }

        @include md-block {
            margin-left: 4vw;
        }

        @include sm-block {
            margin-left: 3vw;
        }
    }

    &__item:first-child {
        position: relative;
        margin-left: 12px;

        span {
            cursor: default;
        }
    }

    &__link {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 22px;
        line-height: 26px;
        font-weight: 500;
        color: $c-base;
        transition: color ease 0.5s;

        &:hover {
            color: lighten($c-normal, 10%);
        }

        &.active {
            color: darken($c-normal, 10%);
        }

        @include lg-block {
            font-size: 1.6vw;
        }

        @include md-block {
            font-size: 1.7vw;
            line-height: 20px;
        }

        @include sm-block {
            font-size: 1.95vw;
            line-height: 18px;
        }

        &--drop {
            width: 100%;
            border: none;
            background: transparent;
        }

        svg {
            display: none;
        }
    }

    &__submenu {
        position: absolute;
        z-index: 10;
        top: 100%;
        left: -0.5*$gat;
        width: 265%;
        padding: $gat 0.5*$gat $gat;
        background: $c-accent;
        list-style: none;
        transition: opacity 0.5s ease-in;
        @include invisual;
    }

    &__submenu.visual {
        @include visual;
    }

    &__subitem {
        svg {
            display: none;
        }
    }

    &__sublink {
        font-size: 1.17vw;
        line-height: 24px;
        font-weight: 500;
        color: $c-base;

        &:hover {
            color: lighten($c-normal, 10%);
        }

        @include md-block {
            font-size: 1.5vw;
            line-height: 22px;
        }

        @include sm-block {
            font-size: 14px;
        }

        span {
            &:hover {
                cursor: pointer;
            }
        }
    }

    &__sublink.disabled {
        @include disa;
    }

    &__btn--submenu {
        display: none;
    }

    &__submenu2 {
        padding-left: $gat;
        background: #eeeeee;
        list-style-type: none;
        transition: opacity 0.1s ease-in;
        @include invisual;

        &--visial {
            @include visual;
        }
    }
}

/*=============================================*/


/*=============================================
        ОСНОВНОЙ КОНТЕНТ
=============================================*/

/*---------------------------------------------
  Секция head
---------------------------------------------*/
.head {
    width: 100%;
    text-align: center;
    background: url(../img/images/bg-head-hd.jpg) no-repeat;
    background-position: center 0;
    background-size: cover;

    @include md-block {
        background-image: url(../img/images/bg-head-1000.jpg);
    }

    @include sm-block {
        min-height: 382px;
        background-image: url(../img/images/bg-head-768.jpg);
        background-size: cover;
    }

    @include xs-block {
        background-image: url(../img/images/bg-head-480.jpg);
    }

    @include xxs-block {
        background-image: url(../img/images/bg-head-320.jpg);
    }

    &__wrap {
        position: relative;
        width: 100%;
        padding-bottom: 49.6%;

        @include sm-block {
            padding-bottom: 0;
        }

        &--active {
            z-index: -1;
        }
    }

    &__content {
        position: absolute;
        width: 100%;
        height: 100%;
        padding: 222px 0 531px 0;

        @include lg-block {
            padding-top: 150px;
        }

        @include md-block {
            padding: 148px 0 157px 0;
        }

        @include sm-block {
            padding: 90px 0 120px 0;
        }

        @include xxs-block {
            padding-top: 80px;
        }
    }
}

h1 {
    max-width: 565px;
    margin: 0 auto 28px;
    text-align: center;
    font-size: 48px;
    line-height: 57px;
    font-weight: 500;
    color: #ffffff;

    @include md-block {
        font-size: 42px;
        line-height: 50px;
    }

    @include sm-block {
        font-size: 36px;
        line-height: 43px;
    }

    @include xs-block {
        max-width: 423px;
        font-size: 32px;
        line-height: 38px;
    }

    @include xxs-block {
        max-width: 281px;
        margin-bottom: 23px;
        font-size: 28px;
        line-height: 33px;
    }
}


/*----------------------------------------------*/

/*---------------------------------------------
  Секция slider
---------------------------------------------*/
.slider {
    position: relative;
    padding: 3*$gat 0 2.5*$gat;

    @include md-block {
        padding-top: 2.25*$gat;
        padding-bottom: 3*$gat;
    }

    &__container-controls {
        top: 33%;

        @media screen and (max-width: 1450px) {
            display: none;
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        height: 100%;
        margin: 0;

        @include xxs-block {
            padding-left: 0.25*$gat;
        }

        div {
            position: relative;
        }
    }

    &__img {
        @include img();
        background-color: #eee;
    }

    &__accia {
        position: absolute;
        left: 0;
        bottom: 0;
        display: inline-block;
        padding: 7px 45px 9px 27px;
        border-radius: 0 45px 0 0;
        background: $c-normal;
        font-family: $ff-base;
        font-size: 17px;
        line-height: 140%;
        font-weight: 500;
        color: $c-base;
        transition: background-color ease 0.5s;

        &:hover {
            background-color: lighten($c-normal, 10%);
        }
    }

    &__desc {
        display: flex;
        flex-direction: column;
        height: 100%;
        margin-top: 1.25*$gat;

        @include xxs-block {
            margin-top: 1.25*$gat;
        }
    }

    a:hover h4 {
        color: $c-normal;
    }

    &__title {
        margin: 0 0 $gat;
        font-size: 24px;
        line-height: 140%;
        font-weight: 400;
        color: $c-accent;

        @include xxs-block {
            margin-bottom: 1.25*$gat;
            font-size: 17px;
            line-height: 140%;
        }
    }

    &__subtitle {
        display: inline-block;
        margin-top: auto;
        color: lighten($c-accent, 60%);

        @include xxs-block {
            margin-top: (-0.5) *$gat;
            font-size: 15px;
        }
    }
}

.container-controls {
    position: absolute;
    left: 50%;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1536px;
    margin: 0 auto;
    padding: 0 $gat;
    transform: translateX(-50%);
}

.owl-carousel .owl-stage {
    display: flex;
    align-items: stretch;
}

/*Пагинация слайдера
------------------------------------------------*/
.owl-carousel {
    .owl-dots {
        width: 100%;
        margin-top: 2*$gat;
        margin-left: (-0.75) *$gat;
        text-align: center;

        @include xxs-block {
            margin-top: 1.5*$gat;
        }

        .owl-dot {
            display: inline-block;
            width: 10px;
            height: 10px;
            margin-left: 17px;
            border-radius: 50%;
            background-color: #eeeeee;
            transition: all ease 0.5s;

            &.active {
                background-color: $c-normal;
                transform: scale(1.1);
            }
        }
    }
}

/*----------------------------------------------*/

/*----------------------------------------------*/

/*---------------------------------------------
  Секция catalog
---------------------------------------------*/
.catalog {
    padding: 77px 0;
    background: url(../img/images/bg-catalog.svg) no-repeat;
    background-size: cover;

    @include md-block {
        padding: 2*$gat 0 3*$gat 0;
    }

    @include xxs-block {
        padding-bottom: 2*$gat;
    }

    &__content {
        @include row-flex();
        justify-content: center;
        align-items: stretch;
        margin-top: 2*$gat;

        @include md-block {
            margin-top: 1.5*$gat;
        }
    }
}

.card {
    @include col();
    @include size(3);
    display: flex;
    flex-direction: column;
    margin-bottom: $gat;

    &--none-xxs {
        @include xxs-block {
            display: none;
        }
    }

    &__img {
        @include img;
        background-color: #eee;
    }

    &__desc {
        // display: flex;
        // flex-direction: column;
        height: 100%;
        padding: 20px 24px 32px;
        border-radius: 0 0 0.5*$gat 0.5*$gat;
        background: $c-base;

        @include xxs-block {
            padding-bottom: 0.5*$gat;
        }
    }

    &__title {
        margin: 0;
        text-align: center;
        font-size: 24px;
        line-height: 140%;
        font-weight: 400;
        color: $c-accent;

        @include md-block {
            font-size: 20px;
        }

        @include xxs-block {
            font-size: 15px;
            line-height: 185%;
        }

        span {
            display: block;
            text-align: center;
            font-size: 14px;
            color: lighten($c-accent, 60%);

            @include xxs-block {
                font-size: 12px;
            }
        }
    }

    a:hover h4 {
        font-weight: 500;
        color: $c-normal;
    }

    &__price {
        margin-top: auto;
        text-align: center;
        line-height: 30px;
        font-weight: 500;
        color: #b7000e;

        @include xxs-block {
            margin-top: 37px;
            font-size: 28px;
            line-height: 33px;
        }
    }
}

/*----------------------------------------------*/

/*---------------------------------------------
  Секция order
---------------------------------------------*/
.order {
    padding: 5*$gat 0;
    background: url(../img/images/bg-order.jpg) no-repeat;
    background-position: center 0;
    background-size: cover;

    @include sm-block {
        padding: 3*$gat 0;
        background-image: none;
    }

    @media screen and (max-width: 440px) {
        padding: 0;
    }
}

.form {
    padding: 41px 57px 65px 69px;
    border: 4px solid $c-base;
    border-radius: 10px;
    background: $c-accent;

    @include md-block {
        padding: 2*$gat 1.75*$gat;
    }

    @include sm-block {
        padding: 2*$gat $gat;
    }

    @include xxs-block {
        padding-bottom: 2.5*$gat;
    }

    &__title {
        margin: 0;
        text-align: center;
        font-size: 36px;
        line-height: 43px;
        font-weight: 500;
        color: $c-base;

        @include sm-block {
            font-size: 32px;
            line-height: 38px;
        }

        @include xs-block {
            font-size: 28px;
            line-height: 33px;
        }

        @include xxs-block {
            font-size: 24px;
            line-height: 28px;
        }

        &--call {
            @include xxs-block {
                padding: 0 25px;
            }
        }
    }

    div {
        display: flex;
        justify-content: space-between;
        margin: 2*$gat 0 $gat;

        @media screen and (max-width: 700px) {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        @include xxs-block {
            margin-top: $gat;
            margin-bottom: 1.6*$gat;
        }
    }

    &__elem {
        display: block;
        width: calc(100% / 3 - 15px);
        margin-right: $gat;
        padding: 12px 10px 12px 24px;
        border: none;
        border-radius: 4px;
        background: $c-base;
        font-size: 17px;
        line-height: 20px;
        color: $c-accent;

        @media screen and (max-width: 700px) {
            width: 80%;
            margin-right: 0;
            margin-bottom: $gat;
        }

        @include xs-block {
            width: 100%;
        }

        @include xxs-block {
            padding: $gat 0;
            text-align: center;
        }
    }

    @include input-placeholder {
        font-family: $ff-base;
        font-size: 17px;
        line-height: 17px;
        font-weight: 400;
        font-style: normal;
        color: #cccccc;
    }

    // Кастомный чекбокс
    &__sub {
        opacity: 0;
    }

    &__sub-label {
        position: relative;
        display: inline-block;
        margin-left: $gat;
        font-size: 17px;
        line-height: 20px;
        color: $c-base;
        cursor: pointer;

        @include lg-block {
            max-width: 800px;
        }

        @include md-block {
            max-width: 80vw;
        }

        @media screen and (max-width: 700px) {
            max-width: 68vw;
        }

        @media screen and (max-width: 440px) {
            max-width: 60vw;
            font-size: 15px;
        }

        @include xxs-block {
            margin-left: 25px;
        }

        &::before {
            content: '';
            position: absolute;
            top: -4px;
            left: -40px;
            display: inline-block;
            width: 30px;
            height: 30px;
            border-radius: 4px;
            background: $c-normal;
        }

        &::after {
            content: '';
            position: absolute;
            top: 4px;
            left: -32px;
            display: inline-block;
            width: 16px;
            height: 11px;
            border-left: 2px solid;
            border-bottom: 2px solid;
            transform: rotate(-45deg);
        }
    }

    &__sub+&__sub-label::after {
        content: none;
    }

    &__sub:checked+&__sub-label::after {
        content: '';
    }

    &__sub:focus+&__sub-label::before {
        outline: rgb(59, 153, 252) auto 5px;
    }
}

/*----------------------------------------------*/

/*----------------------------------------------*/

/*---------------------------------------------
  Секция menegers
---------------------------------------------*/
.menegers {
    padding: 2.9*$gat 0 5.75*$gat;

    @include md-block {
        padding-top: 2*$gat;
        padding-bottom: 4.5*$gat;
    }

    @media screen and (max-width: 890px) {
        padding-bottom: 3.25*$gat;
    }

    @include sm-block {
        padding-top: 0;
    }

    @include xs-block {
        padding-top: 3.55*$gat;
        padding-bottom: 2.9*$gat;
    }

    &__content {
        @include row-flex();
        margin-top: 1.85*$gat;

        @include xs-block {
            margin-top: 0.65*$gat;
        }
    }

    &__item {
        @include col();
        @include size(4);
        display: flex;

        @media screen and (max-width: 890px) {
            flex-direction: column;
        }

        @media screen and (max-width: 700px) {
            @include size(12);
            flex-direction: row;
            align-items: center;
            margin-bottom: $gat;
        }

        @include xxs-block {
            margin-bottom: (-0.8) *$gat;
        }
    }

    picture {
        width: 44%;
    }

    &__img {
        @include img;
        border-radius: 10px;
        background-color: #eee;
        box-shadow: 0 15px 20px rgba(0, 0, 0, 0.1);

        @include xs-block {
            box-shadow: none;
        }
    }

    &__desc {
        max-width: 163px;
        margin-left: $gat;
        padding-top: 0.25*$gat;

        @include xxs-block {
            margin-left: 0.5*$gat;
        }
    }

    &__name {
        font-size: 24px;
        line-height: 28px;
        font-weight: 400;
        color: $c-accent;

        @include md-block {
            font-size: 20px;
            line-height: 24px;
        }

        @media screen and (max-width: 700px) {
            font-size: 24px;
            line-height: 28px;
        }

        @media screen and (max-width: 440px) {
            font-size: 20px;
            line-height: 24px;
        }
    }

    &__profession {
        display: block;
        margin-top: 0.65*$gat;
        font-size: 17px;
        line-height: 22px;
        font-weight: 400;
        color: lighten($c-accent, 60%);

        @include md-block {
            font-size: 15px;
            line-height: 18px;
        }

        @media screen and (max-width: 700px) {
            font-size: 17px;
            line-height: 22px;
        }

        @media screen and (max-width: 440px) {
            font-size: 15px;
            line-height: 18px;
        }
    }
}

/*----------------------------------------------*/

/*---------------------------------------------
  Секция pluses
---------------------------------------------*/
.pluses {

    @include xxs-block {
        padding-bottom: $gat;
    }

    &__content {
        @include row-flex();
    }

    &__item {
        @include col();
        @include size(4);
        margin-bottom: 4.75*$gat;

        @media screen and (max-width: 890px) {
            @include size(6);
            display: flex;
            margin-bottom: 3.5*$gat;
        }

        @media screen and (max-width: 700px) {
            @include size(12);
        }

        @media screen and (max-width: 440px) {
            margin-bottom: 1.45*$gat;
        }

        @include xxs-block {
            margin-right: 0;
            margin-left: 0.75*$gat;
        }

        &--btn {
            margin-bottom: 2.7*$gat;

            @media screen and (max-width: 440px) {
                margin-bottom: 2*$gat;
            }

            @include xxs-block {
                margin-left: $gat;
            }

            .pluses__desc {
                @include xxs-block {
                    margin-left: 1.65*$gat;
                }
            }
        }
    }

    &__item:first-child {
        @media screen and (max-width: 440px) {
            margin-bottom: 1.6*$gat;
        }
    }

    &__img {
        display: inline-block;
    }

    &__desc {
        max-width: 336px;
        margin-top: 0.35*$gat;
        font-size: 24px;
        line-height: 28px;
        font-weight: 500;

        @include md-block {
            font-size: 20px;
            line-height: 24px;
        }

        @media screen and (max-width: 890px) {
            margin-left: $gat;
            font-size: 24px;
            line-height: 28px;
        }

        @include xs-block {
            font-size: 20px;
            line-height: 24px;
        }

        @include xxs-block {
            margin-top: 1px;
            margin-left: 1.15*$gat;
        }

        span {
            display: block;
            margin-top: 0.5*$gat;
            font-size: 17px;
            line-height: 18px;
            font-weight: 400;
            color: lighten($c-accent, 60%);

            @include md-block {
                font-size: 15px;
                line-height: 18px;
            }

            @include sm-block {
                font-size: 17px;
                line-height: 18px;
            }
        }
    }

    &__btn {
        margin: $gat 0 0;

        @media screen and (max-width: 890px) {
            margin-left: $gat;
        }

        @media screen and (max-width: 440px) {
            margin-top: 1.15*$gat;
            margin-left: (-2.15) *$gat;
            padding-right: 2.1*$gat;
            padding-left: 2.5*$gat;
        }

        @include xxs-block {
            margin-left: (-2.6) *$gat;
        }
    }
}

/*----------------------------------------------*/

/*---------------------------------------------
  Секция dipploms
---------------------------------------------*/
.dipploms {
    position: relative;
    height: 490px;
    padding-top: 70px;
    background: url(../img/images/bg-dipplom.png) no-repeat center bottom;
    background-color: $c-accent;

    @include md-block {
        height: 418px;
        padding-top: 3*$gat;
        background: url(../img/images/bg-dipplom-1000.png) no-repeat center bottom;
        background-color: $c-accent;
    }

    @include sm-block {
        background-image: url(../img/images/bg-dipplom-768.png);
    }

    @include xxs-block {
        height: 323px;
        padding-top: 2.3*$gat;
        background-image: url(../img/images/bg-dipplom-320.png);
    }

    &__container-controls {
        top: 61%;
    }

    &__container {
        margin: 4.5*$gat auto 0;

        @include md-block {
            width: 82%;
            margin-top: 1.65*$gat;
        }

        @include sm-block {
            width: 69%;
        }
    }

    &__item {
        width: 100%;
        padding: 0 4*$gat;

        @include md-block {
            padding: 0 0.7*$gat;
        }

        @media screen and (max-width: 580px) {
            width: 70%;
            margin: 0 auto;
        }

        @media screen and (max-width: 440px) {
            width: 100%;
        }

        @include xxs-block {
            padding: 0 0.3*$gat;
        }
    }

    &__img {
        @include img;
        background-color: #eee;
    }
}

/*----------------------------------------------*/

/*---------------------------------------------
  Секция map
---------------------------------------------*/
.map {
    position: relative;
    min-height: 500px;

    @include xs-block {
        min-height: 400px;
    }

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: none;
        background-color: #eee;
    }
}

/*----------------------------------------------*/

/*=============================================*/


/*=============================================
        ПОДВАЛ
=============================================*/
.footer {
    padding-top: 2.85*$gat;

    @include xs-block {
        padding-top: 2.25*$gat;
    }

    &__top-line {
        @include row-flex();
        padding-bottom: 2.85*$gat;

        @media screen and (max-width: 950px) {
            justify-content: flex-end;
        }

        @media screen and (max-width: 700px) {
            flex-direction: column;
            justify-content: flex-start;
        }

        @include xs-block {
            padding-bottom: 1.2*$gat;
        }
    }

    &__block {
        @include col();
        display: flex;
        flex-direction: column;
    }

    &__block1 {
        @include size(4);
        @include size-lg(3);

        @media screen and (max-width: 950px) {
            @include size(5);
        }

        @media screen and (max-width: 890px) {
            @include size(4);
        }

        @media screen and (max-width: 700px) {
            @include size-lg(12);
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 2*$gat;
        }

        @media screen and (max-width: 440px) {
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            margin-bottom: 1.5*$gat;
        }
    }

    &__block2 {
        @include size(3);
        align-items: flex-start;

        @media screen and (max-width: 950px) {
            @include size(7);
            display: block;
        }

        @media screen and (max-width: 890px) {
            @include size(8);
        }

        @media screen and (max-width: 700px) {
            @include size-lg(12);
        }

        &>div {
            @media screen and (max-width: 950px) {
                display: flex;
                justify-content: space-between;
            }

            @media screen and (max-width: 440px) {
                flex-direction: column;
            }
        }
    }

    &__block3 {
        @include size(5);
        @include size-lg(6);

        @media screen and (max-width: 950px) {
            @include size(7);
        }

        @media screen and (max-width: 890px) {
            @include size(8);
        }

        @media screen and (max-width: 700px) {
            @include size-lg(12);
        }

        p {
            max-width: 503px;
            margin: 0 0 0.75*$gat 0;
            font-size: 20px;
            line-height: 24px;
            font-weight: 400;

            @include lg-block {
                font-size: 17px;
                line-height: 20px;
            }

            @media screen and (max-width: 950px) {
                max-width: 463px;
            }

            @include xxs-block {
                max-width: 225px;
            }
        }

        small {
            display: block;
            margin-top: $gat;
            color: lighten($c-accent, 60%);

            @include sm-block {
                font-size: 17px;
            }
        }

        &>div {
            display: flex;
            align-items: center;
        }

        &>div:last-child {
            margin-top: 1.7*$gat;

            @media screen and (max-width: 440px) {
                flex-direction: column;
                align-items: flex-start;
                margin-top: 1.25*$gat;
            }

            p {
                margin-bottom: 0;
                margin-left: 1.25*$gat;

                @media screen and (max-width: 440px) {
                    margin-left: 0;
                }
            }
        }
    }

    &__socnetwork-box {
        display: flex;
        margin-top: 1.5*$gat;

        @media screen and (max-width: 700px) {
            margin-top: 0;
        }

        @media screen and (max-width: 440px) {
            margin-top: 1.25*$gat;
        }
    }

    &__socnework-item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        transition: transform ease 0.5s;

        &--ok {
            background: #f79a38;

            svg {
                @include svg(14px, 22px, $c-base);
            }
        }

        &--vk {
            background: #7294c7;

            svg {
                @include svg(21px, 12px, $c-base);
            }
        }

        &--fb {
            background: #4e6297;


            svg {
                @include svg(17px, 17px, $c-base);
            }
        }

        &--in {
            background: linear-gradient(43.94deg, #eea054 16.16%, #d64763 50.11%, #b62a99 83.68%);

            svg {
                @include svg(17px, 17px, $c-base);
            }
        }

        &:hover {
            transform: scale(1.2);
        }
    }

    &__socnework-item+&__socnework-item {
        margin-left: 0.5*$gat;
    }

    &__adress {
        @include lg-block {
            font-size: 17px;
            line-height: 20px;
        }
    }

    &__email {
        display: block;
        margin: 15px 0 15px;

        @include md-block {
            font-size: 17px;
        }

        @media screen and (max-width: 950px) {
            margin: 12px 0 12px;
        }
    }

    &__tel {
        font-size: 24px;
        line-height: 28px;

        @include md-block {
            font-size: 24px;
            line-height: 28px;
        }

        @include xs-block {
            font-size: 24px;
            line-height: 28px;
        }
    }

    &__btn-base--call {
        margin-top: $gat;
        padding-top: 0.25*$gat;
        padding-bottom: 0.25*$gat;

        img {
            @media screen and (max-width: 890px) {
                display: block;
            }
        }

        @media screen and (max-width: 950px) {
            margin-right: $gat;
        }

        @media screen and (max-width: 890px) {
            padding: 5px 22px 5px 7px;
            font-size: 15px;
            line-height: 18px;
        }

        @media screen and (max-width: 700px) {
            margin-right: 0;
            margin-bottom: 1.75*$gat;
            padding: 5px 22px 5px 7px;
        }

        @media screen and (max-width: 440px) {
            align-self: flex-start;
        }
    }

    &__mode {
        font-size: 17px;
        line-height: 20px;
        font-weight: 400;
        color: lighten($c-accent, 60%);
    }

    &__copy {
        padding: 1.5*$gat 0;
        background: $c-accent;

        p {
            font-size: 17px;
            line-height: 20px;
            color: lighten($c-accent, 60%);
        }
    }
}

.logo__title.logo__title--footer {
    text-align-last: left;

    @include md-block {
        font-size: 14px;
    }

    @media screen and (max-width: 440px) {
        font-size: 18px;
        line-height: 14px;
    }
}

/*=============================================*/

@import 'catalog.scss';


/*=============================================
        АДАПТИВ
=============================================*/
@media screen and (max-width: 890px) {
    .top-line__block3 {
        display: none;
    }

    .head__content {
        padding-top: 90px;
    }

    .card {
        @include size(4);
    }

    .card--none {
        display: none;
    }
}

@media screen and (max-width: 700px) {

    .top-line__block1,
    .top-line__block2,
    .top-line__block3 {
        display: none;
    }

    .top-line__block4 {
        display: block;
    }

    .nav__burger p {
        display: block;
        margin-left: 0.5*$gat;
    }


    .nav__list {
        position: absolute;
        top: 100%;
        left: 0;
        display: block;
        width: 100%;
        background: $c-accent;
        transition: opacity 0.5s ease-in;
        @include invisual;

        &--visial {
            @include visual;
        }
    }

    .nav__item {
        margin: 0;
        padding: $gat 0 $gat $gat;
        border-bottom: 1px solid rgba(119, 118, 118, 0.55);

        &:first-child {
            margin-left: 0;
        }

        &--drop {
            padding: $gat 0 0 0;
        }
    }

    .nav__link {
        font-size: 20px;
        line-height: 24px;

        svg {
            display: block;
            @include svg (24px, 12px, #CCCCCC);
            margin-right: $gat;

            &:hover {
                cursor: pointer;
            }
        }

        &--drop {
            margin: 0 0 $gat 0;
            padding-left: $gat;

            svg.active {
                fill: $c-normal;
                transform: rotate(180deg);
            }
        }

        &--btn {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
        }
    }

    .nav__submenu {
        position: static;
        width: 100%;
        padding: 0;
    }

    .nav__subitem {
        border-bottom: 1px solid rgba(119, 118, 118, 0.55);
        background: $c-base;
        box-shadow: 0 15px 20px rgba(0, 0, 0, 0.05);

        // &:hover,
        &:focus {
            background: $c-normal;

            .nav__sublink {
                color: $c-base;
            }
        }

        &:hover {
            background: $c-normal;
        }

        div {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        svg {
            display: inline-block;
            margin-right: $gat;
            @include svg (24px, 12px, #CCCCCC);

            &:hover {
                cursor: pointer;
            }
        }

        svg.active {
            transform: rotate(180deg);
            fill: $c-base;
        }
    }

    .nav__sublink {
        padding: $gat;
        font-size: 17px;
        line-height: 125.19%;
        font-weight: 400;
        color: $c-accent;

        &:focus {
            color: $c-base;
        }
    }

    .nav__btn--submenu {
        display: inline-block;
        border: none;
        background: transparent;
    }

    .nav__subitem2 {
        padding: 0.25*$gat 0;
    }

    .nav__link2 {
        font-family: Roboto, Arial, sans-serif;
        font-size: 17px;
        line-height: 20px;
        font-weight: 700;
        color: $c-accent;

        &:hover,
        &:focus {
            color: $c-normal;
        }
    }

    .nav__link2.disabled {
        @include disa;
    }

    .card {
        @include size(6);
    }
}

@media screen and (max-width: 440px) {

    .top-line__block4 .social-box {
        display: none;
    }

    .logo__title {
        font-size: 9px;
        line-height: 10px;
    }

    .card {
        @include size(13);
    }

    .order .wrapper {
        padding: 0;
    }

    .form {
        border: none;
        border-radius: 0;
    }
}